
<!-- Banner -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(https://images.pexels.com/photos/34090/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);">
  <div class="container">
    <h1>Vandelay Industries Contacts</h1>
    <p>Verisys Code Assessment</p>
    <div>
    <%= link_to 'Upload Contacts', upload_path, class: 'btn-green' %>
    <%= link_to 'View Contacts', review_path, class: 'btn-green' %>
    </div>
  </div>
</div>
<!-- How it works section -->
<div class="container">
 <h2 class="text-center">How it works</h2>
 <div class="cards">
    <div class="card">
      <i class="fas fa-file-upload"></i>
      <h4>Upload</h4>
      <p>Upload your office contacts list with correct template</p>
    </div>
    <div class="card">
      <i class="fas fa-eye"></i>
      <h4>View</h4>
      <p>View and search through results</p>
    </div>
    <div class="card">
      <i class="fas fa-file-download"></i>
      <h4>Export</h4>
      <p>Export contacts list as CSV or JSON</p>
    </div>
  </div>
</div>
<!-- Footer -->
<div class="footer-home">
    <h5>Made by Naoto Suzuki</h5>
</div>



