<%= @all.count %>
<%= @valid.count %> have been added
<%= @notvalid.count %> records have been removed

<div class="container">
 <h1 class="text-center">View Contacts</h1>

  <div class="footer">
    <h5>Made by Naoto Suzuki</h5>
  </div>
</div>
